@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+KR:wght@300;400;500;600;700&family=Montserrat:wght@300;400;500;600;700;800;900&family=Noto+Sans+KR:wght@300;400;500;700&display=swap");
/*
  font-family: 'Noto Sans KR', sans-serif;
  font-family: 'IBM Plex Sans KR', sans-serif;
  font-family: 'Montserrat', sans-serif;
*/
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

ul,
ol,
li {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

.container {
  width: 1440px;
  height: auto;
  padding: 0 20px;
}

#wrap {
  width: 100%;
  height: auto;
  background: #fff;
  /* header */
}

#wrap header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background: #fdf102;
  z-index: 99;
  /* container */
}

#wrap header .container {
  padding: 10px 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  /* a */
  /* left */
  /* header logo */
  /* right */
}

#wrap header .container a {
  font-family: 'Montserrat', sans-serif;
  font-size: 18px;
  font-weight: 600;
  color: #1a1a1c;
}

#wrap header .container .lego-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

#wrap header .container .lego-menu li:not(:last-child) {
  margin-right: 20px;
}

#wrap header .container .header-logo a {
  display: block;
  width: 60px;
  height: 60px;
}

#wrap header .container .header-logo a img {
  width: 100%;
}

#wrap header .container .user-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

#wrap header .container .user-menu li:not(:first-child) {
  margin-left: 20px;
}

#wrap header .container .user-menu li a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 34px;
  height: 34px;
}

#wrap header .container .user-menu li a img {
  width: 100%;
}

#wrap main {
  width: 100%;
  height: 200vh;
  /* main video */
  /* theme category */
}

#wrap main .main-video {
  position: relative;
  width: 100%;
  height: 700px;
  z-index: 1;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#wrap main .main-video video {
  width: 100%;
}

#wrap main .main-video .play-btn {
  position: absolute;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  background: rgba(255, 255, 255, 0.4);
}

#wrap main .main-video .play-btn span {
  position: absolute;
  top: 50%;
  left: 35%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  display: block;
  width: 24px;
  height: 24px;
  border-top: 14px solid transparent;
  border-left: 24px solid #1a1a1c;
  border-right: 14px solid transparent;
  border-bottom: 14px solid transparent;
  cursor: pointer;
}

#wrap main .theme-category {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-top: 160px;
}

#wrap main .theme-category .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#wrap main .theme-category .container .title {
  font-family: 'Noto Sans KR', sans-serif;
  color: #1a1a1c;
  font-size: 36px;
  font-weight: bold;
  margin-bottom: 60px;
}

#wrap main .theme-category .container .theme-icons {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#wrap main .theme-category .container .theme-icons li a {
  font-family: 'Noto Sans KR', sans-serif;
  font-size: 16px;
  font-weight: 500;
  color: #1a1a1c;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#wrap main .theme-category .container .theme-icons li a img {
  width: 140px;
  height: 140px;
  margin-bottom: 20px;
  z-index: 1;
}

#wrap main .theme-category .container .theme-icons li a .icon-bg {
  width: 0px;
  height: 0px;
  background: #ffff19;
  border-radius: 50%;
  opacity: 0;
  -webkit-transition: all .4s;
  transition: all .4s;
  position: absolute;
  top: 0;
}

#wrap main .theme-category .container .theme-icons li a:hover .icon-bg {
  opacity: .8;
  width: 140px;
  height: 140px;
}

#wrap main .theme-category .container .theme-icons li:not(:last-child) {
  margin-right: 80px;
}
