/* html <= 1440px */
/* html <= 1000px */
@media (max-width: 1000px) {
  #wrap main .main-video video {
    height: 100%;
    width: auto;
  }
}
/* html <= 768px */
@media (max-width: 768px) {
  #wrap .container {
    width: 100%;
  }
  #wrap header .container {
    padding: 10px 10px;
  }
  #wrap header .container .lego-menu {
    display: none;
  }
  #wrap header .container .user-menu .search-icon:hover input {
    display: none;
  }
  .hamburger {
    height: 20px;
    width: 30px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    position: relative;
    z-index: 9999;
    margin-right: 8px;
    cursor: pointer;
  }
  .hamburger span {
    display: block;
    width: 100%;
    height: 2px;
    background: #1a1a1c;
    transition: all 0.4s;
  }
  .hamburger.close {
    position: relative;
  }
  .hamburger.close span {
    background: #fff;
    position: absolute;
    height: 2px;
  }
  .hamburger.close span:nth-child(1) {
    transform: rotate(40deg);
  }
  .hamburger.close span:nth-child(2) {
    transform: rotate(-40deg);
  }
  #wrap header .container .user-menu {
    width: 38px;
  }
  #wrap header .container .user-menu li:not(:first-child) {
    display: none;
  }
  .m-nav {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 999;
    width: 100vw;
    height: 100vh;
    background: rgba(38, 38, 38, 0.9);
    display: none;
    padding: 10px 60px;
  }
  .m-nav .nav-header {
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }
  .m-nav .nav-header img {
    width: 60px;
    height: 60px;
  }
  .m-nav .nav-user-menu {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 40px;
    padding-bottom: 20px;
    border-bottom: 2px solid rgb(188, 188, 214);
  }
  .m-nav .nav-user-menu .menu-left {
    display: flex;
    align-items: center;
  }
  .m-nav .nav-user-menu .menu-left .user-lego {
    margin-right: 10px;
    height: 48px;
  }
  .m-nav .nav-user-menu .menu-left a.user-desc .name {
    color: #fff;
    display: flex;
    align-items: center;
    font-size: 1.4rem;
    font-weight: bold;
    font-family: "Noto Sans KR", sans-serif;
  }
  .m-nav .nav-user-menu .menu-left a.user-desc .name img {
    height: 14px;
    margin-left: 10px;
  }
  .m-nav .nav-user-menu .menu-left a.user-desc .email {
    color: #fff;
    font-weight: 300;
    font-size: 1rem;
    font-family: "Montserrat", sans-serif;
  }
  .m-nav .nav-user-menu .menu-right ul {
    display: flex;
  }
  .m-nav .nav-user-menu .menu-right ul li a {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .m-nav .nav-user-menu .menu-right ul li a img {
    height: 28px;
  }
  .m-nav .nav-user-menu .menu-right ul li a::after {
    content: "7";
    font-family: "Montserrat", sans-serif;
    font-size: 0.6rem;
    color: #fff;
    font-weight: 300;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: -10px;
    right: -10px;
    width: 16px;
    height: 16px;
    background: #ed1b24;
    border-radius: 50px;
  }
  .m-nav .nav-user-menu .menu-right ul li:last-child {
    margin-left: 20px;
  }
  .m-nav .menu-wrap {
    /* menu1 */
  }
  .m-nav .menu-wrap .menu {
    padding: 20px 0;
    border-bottom: 2px solid rgb(188, 188, 214);
    font-family: "Noto Sans KR", sans-serif;
  }
  .m-nav .menu-wrap .menu .menu-title {
    cursor: pointer;
    font-size: 1.4rem;
    font-weight: bold;
    color: #fff;
    margin-bottom: 10px;
  }
  .m-nav .menu-wrap .menu .sub-menu {
    display: none;
    margin-left: 30px;
  }
  .m-nav .menu-wrap .menu .sub-menu li {
    padding: 10px 0;
  }
  .m-nav .menu-wrap .menu .sub-menu li a {
    font-size: 1.1rem;
    font-weight: 500;
    color: #e2e2e2;
  }
  /* m-search */
  #wrap .m-search {
    position: fixed;
    top: 0;
    right: 0;
    z-index: 999;
    width: 100%;
    height: 100vh;
    background: rgba(38, 38, 38, 0.9);
    display: flex;
    align-items: start;
    justify-content: center;
    display: none;
    transition: all 0.4s;
  }
  #wrap .m-search .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
    width: 100%;
    height: 100%;
    padding: 40px 80px 0px;
  }
  #wrap .m-search .container .close-btn {
    position: absolute;
    top: 30px;
    right: 20px;
    cursor: pointer;
  }
  #wrap .m-search .container .close-btn img {
    width: 24px;
    height: 24px;
  }
  #wrap .m-search .container .m-search-title {
    font-size: 2.4rem;
    font-weight: 700;
    color: #fff;
    letter-spacing: -0.025em;
    font-family: "Noto Sans KR", sans-serif;
    width: 100%;
    margin-bottom: 30px;
  }
  #wrap .m-search .container .m-search-area {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    margin-bottom: 80px;
  }
  #wrap .m-search .container .m-search-area input {
    outline: none;
    border: none;
    border-bottom: 2px solid #bcbcd6;
    color: #fff;
    font-size: 1.8rem;
    font-weight: 500;
    font-family: "Noto Sans KR", sans-serif;
    background: transparent;
    padding: 0;
    width: 100%;
    padding-bottom: 6px;
  }
  #wrap .m-search .container .m-search-area img {
    height: 34px;
    position: absolute;
    right: 0;
    bottom: 10px;
  }
  #wrap .m-search .container .trending-topics-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  #wrap .m-search .container .trending-topics-box .topic-title {
    color: #fff;
    font-family: "Noto Sans KR", sans-serif;
    letter-spacing: -0.025em;
    font-size: 1.6rem;
    margin-bottom: 20px;
  }
  #wrap .m-search .container .trending-topics-box ul {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
  }
  #wrap .m-search .container .trending-topics-box ul li {
    margin-bottom: 10px;
  }
  #wrap .m-search .container .trending-topics-box ul li a {
    display: block;
    color: #bcbcd6;
    border: 2px solid #bcbcd6;
    border-radius: 30px;
    padding: 10px 20px;
    font-family: "Noto Sans KR", sans-serif;
    font-weight: 700;
    transition: all 0.4s;
  }
  #wrap .m-search .container .trending-topics-box ul li a:hover {
    background: #bcbcd6;
    color: #1a1a1c;
  }
  #wrap .m-search .container .trending-topics-box ul li:not(:last-child) {
    margin-right: 10px;
  }
  #wrap main .new-logos .container #new-logo-swiper .swiper-wrapper .swiper-slide .img-box {
    width: 240px;
    height: 240px;
  }
  #wrap main .new-logos .container #new-logo-swiper .swiper-wrapper .swiper-slide .desc-box .desc-txt .title {
    font-size: 1rem;
  }
  #wrap main .new-logos .container #new-logo-swiper .swiper-wrapper .swiper-slide .desc-box .desc-txt .price {
    font-size: 1.4rem;
  }
  #wrap main .new-logos .container #new-logo-swiper .swiper-wrapper .swiper-slide .desc-box {
    flex-direction: column;
  }
  #wrap main .new-logos .container #new-logo-swiper .swiper-wrapper .swiper-slide .desc-box .desc-txt {
    align-items: center;
  }
  #wrap main .new-logos .container #new-logo-swiper .swiper-wrapper .swiper-slide .desc-box .desc-icon {
    justify-content: center;
    margin-top: 10px;
  }
  #wrap main .sub-banner a .sub-banner-txt {
    top: 10%;
    left: auto;
    justify-content: center;
    align-items: center;
  }
  .thumb-wrap {
    display: none;
  }
  #wrap main .mario-lego-wrap .container .product-wrap #mario-swiper .swiper-wrapper .swiper-slide .desc-box {
    flex-direction: column;
    align-items: center;
  }
  #wrap main .mario-lego-wrap .container .product-wrap #mario-swiper .swiper-wrapper .swiper-slide .desc-box .desc-icon {
    margin-top: 10px;
  }
  #wrap main .mario-lego-wrap .container .product-wrap #mario-swiper .swiper-wrapper .swiper-slide .img-box {
    width: 280px;
    height: 280px;
  }
  #wrap main .mario-lego-wrap .container .product-wrap #mario-swiper .swiper-wrapper .swiper-slide .desc-box .desc-txt .title {
    font-size: 1rem;
  }
  #wrap main .mario-lego-wrap .container .product-wrap #mario-swiper .swiper-wrapper .swiper-slide .desc-box .desc-txt .price .normal-price {
    font-size: 1.4rem;
  }
  #wrap main .mario-lego-wrap .container .product-wrap #mario-swiper .swiper-wrapper .swiper-slide .desc-box .desc-txt .price .ori-price {
    font-size: 1.4rem;
  }
  #wrap main .mario-lego-wrap .container .product-wrap #mario-swiper .swiper-wrapper .swiper-slide .desc-box .desc-txt .price .sale-price {
    font-size: 1.8rem;
  }
  #wrap main .mario-lego-wrap .container .product-wrap #mario-swiper .swiper-wrapper .swiper-slide .desc-box .desc-txt {
    align-items: center;
  }
  #wrap main .mario-lego-wrap .container .product-wrap #mario-swiper .swiper-pagination-progressbar {
    right: 0;
    margin: 0 auto;
    width: 40%;
  }
  #wrap main .marvel-lego-wrap .container .product-wrap .thumb-wrap {
    display: none;
  }
  #wrap main .marvel-lego-wrap .container .product-wrap #marvel-swiper .swiper-wrapper .swiper-slide .img-box {
    width: 280px;
    height: 280px;
  }
  #wrap main .marvel-lego-wrap .container .product-wrap #marvel-swiper .swiper-wrapper .swiper-slide .desc-box {
    flex-direction: column;
    align-items: center;
  }
  #wrap main .marvel-lego-wrap .container .product-wrap #marvel-swiper .swiper-wrapper .swiper-slide .desc-box .desc-icon {
    margin-top: 10px;
  }
  #wrap main .marvel-lego-wrap .container .product-wrap #marvel-swiper .swiper-wrapper .swiper-slide .desc-box .desc-txt {
    align-items: center;
  }
  #wrap main .marvel-lego-wrap .container .product-wrap #marvel-swiper .swiper-wrapper .swiper-slide .desc-box .desc-txt .title {
    font-size: 1rem;
  }
  #wrap main .marvel-lego-wrap .container .product-wrap #marvel-swiper .swiper-wrapper .swiper-slide .desc-box .desc-txt .price {
    font-size: 1.4rem;
  }
  #wrap main .marvel-lego-wrap .container .product-wrap .swiper-pagination-progressbar {
    right: 0;
    margin: 0 auto;
    width: 40%;
  }
  #wrap main .lego-story .container .story-box {
    flex-direction: column;
    align-items: center;
  }
  #wrap main .lego-story .container .story-box .story-thumb {
    width: 100%;
    height: 400px;
    margin-bottom: 40px;
  }
  #wrap main .lego-story .container .story-box .story-thumb img {
    width: auto;
    height: 100%;
  }
  #wrap main .lego-story .container .story-box .story-txt {
    align-items: center;
    width: 100%;
  }
  #wrap main .mario-lego-wrap .container h2.title .more {
    font-size: 0;
  }
  #wrap main .mario-lego-wrap .container h2.title .more img {
    margin-left: 0px;
  }
  #wrap main .marvel-lego-wrap .container h2.title .more {
    font-size: 0;
  }
  #wrap main .marvel-lego-wrap .container h2.title .more img {
    margin-left: 0;
  }
  #wrap main .lego-story .container .story-box .story-txt .title {
    text-align: center;
  }
  #wrap main .newsletter .container {
    height: auto;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 60px 20px;
  }
  #wrap main .newsletter .container .newsletter-lego {
    margin-right: 0;
    position: static;
    display: flex;
    align-items: center;
    margin-bottom: 30px;
  }
  #wrap main .newsletter .container .newsletter-lego img {
    width: 260px;
    height: 260px;
  }
  #wrap main .newsletter .container .newsletter-txt {
    align-items: center;
  }
  #wrap main .newsletter .container .newsletter-txt .title {
    font-size: 1.4rem;
  }
  #wrap main .newsletter .container .newsletter-txt .desc {
    font-size: 1rem;
    text-align: left;
    margin: 20px 0;
  }
  #wrap footer .container {
    flex-direction: column;
    align-items: center;
    padding: 40px 20px;
  }
  #wrap footer .container .footer-site-map {
    flex-direction: column;
    width: 100%;
  }
  #wrap footer .container .footer-site-map ul:nth-child(1) {
    margin: 0;
  }
  #wrap footer .container .footer-site-map ul .site-map-wrap {
    padding: 30px 0;
    border-bottom: 4px solid rgb(188, 188, 214);
  }
  #wrap footer .container .footer-site-map ul .site-map-wrap .site-map-title {
    margin: 0;
    font-size: 1.6rem;
  }
  #wrap footer .container .footer-site-map ul .site-map-wrap .site-map-title img {
    display: block;
    top: 50%;
    transform: translateY(-50%);
  }
  #wrap footer .container .footer-site-map ul .site-map-wrap .site-map-contents {
    display: none;
  }
  #wrap footer .container .footer-site-map ul .site-map-wrap .site-map-contents li {
    margin-top: 30px;
  }
  #wrap footer .container .footer-site-map.col .txt-area {
    flex-direction: column;
    align-items: center;
  }
  #wrap footer .container .footer-site-map.col .txt-area ul {
    width: 100%;
  }
  #wrap footer .container .footer-site-map.col .sns-area {
    display: none;
  }
  #wrap footer .container .footer-center {
    order: 3;
    margin-top: 60px;
  }
  #wrap footer .container .footer-center .info {
    flex-wrap: wrap;
    justify-content: center;
  }
  #wrap footer .container .m-sns-area {
    display: flex;
    order: 4;
    margin-top: 60px;
  }
  #wrap footer .container .m-sns-area li {
    margin: 0 20px;
  }
}
/* html <= 375px */
@media (max-width: 420px) {
  .m-nav {
    padding: 10px 20px;
  }
  #wrap .m-search .container {
    padding: 40px 40px;
  }
  #wrap .m-search .container .m-search-title {
    font-size: 1.8rem;
  }
  #wrap .m-search .container .m-search-area {
    margin-bottom: 40px;
  }
  #wrap .m-search .container .m-search-area input {
    font-size: 1.4rem;
  }
  #wrap .m-search .container .m-search-area img {
    height: 24px;
  }
  #wrap .m-search .container .trending-topics-box ul li a {
    font-size: 1rem;
  }
}
/* html >= 769px */
@media (min-width: 768px) {
  .hamburger {
    display: none;
  }
  .m-nav {
    display: none;
  }
  .m-search {
    display: none !important;
  }
}