@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+KR:wght@300;400;500;600;700&family=Montserrat:wght@300;400;500;600;700;800;900&family=Noto+Sans+KR:wght@300;400;500;700&display=swap");
/*
  font-family: 'Noto Sans KR', sans-serif;
  font-family: 'IBM Plex Sans KR', sans-serif;
  font-family: 'Montserrat', sans-serif;
*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul,
ol,
li {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

.container {
  width: 1440px;
  height: auto;
  padding: 0 20px;
}

html {
  overflow-x: hidden;
}

#wrap {
  width: 100%;
  height: auto;
  background: #fff;
  /* header */
}
#wrap header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
  background: #fdf102;
  z-index: 99;
  box-shadow: 0 4px 4px 4px rgba(0, 0, 0, 0.2);
  /* container */
}
#wrap header .container {
  padding: 10px 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  /* a */
  /* left */
  /* header logo */
  /* right */
}
#wrap header .container a {
  font-family: "Montserrat", sans-serif;
  font-size: 18px;
  font-weight: 600;
  color: #1a1a1c;
}
#wrap header .container .lego-menu {
  display: flex;
}
#wrap header .container .lego-menu li:not(:last-child) {
  margin-right: 20px;
}
#wrap header .container .header-logo a {
  display: block;
  width: 60px;
  height: 60px;
}
#wrap header .container .header-logo a img {
  width: 100%;
}
#wrap header .container .user-menu {
  display: flex;
}
#wrap header .container .user-menu li:not(:first-child) {
  margin-left: 20px;
}
#wrap header .container .user-menu li a {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 24px;
  height: 24px;
}
#wrap header .container .user-menu li a img {
  width: 100%;
}
#wrap main {
  /* 공용 title */
  width: 100%;
  height: 200vh;
  /* main video */
  /* theme category */
  /* .new logos */
  /* .sub banner */
}
#wrap main .title {
  font-family: "Noto Sans KR", sans-serif;
  color: #1a1a1c;
  font-size: 36px;
  font-weight: bold;
  letter-spacing: 0.025em;
  margin-bottom: 60px;
  text-align: center;
}
#wrap main .main-video {
  position: relative;
  width: 100%;
  height: 700px;
  z-index: 1;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
}
#wrap main .main-video video {
  width: 100%;
}
#wrap main .main-video .play-btn {
  position: absolute;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  background: rgba(255, 255, 255, 0.4);
}
#wrap main .main-video .play-btn span {
  position: absolute;
  top: 50%;
  left: 35%;
  transform: translateY(-50%);
  display: block;
  width: 24px;
  height: 24px;
  border-top: 14px solid transparent;
  border-left: 24px solid #1a1a1c;
  border-right: 14px solid transparent;
  border-bottom: 14px solid transparent;
  cursor: pointer;
}
#wrap main .theme-category {
  display: flex;
  justify-content: center;
  align-items: center;
}
#wrap main .theme-category .container {
  padding-top: 160px;
}
#wrap main .theme-category .container .title {
  font-family: "Noto Sans KR", sans-serif;
  color: #1a1a1c;
  font-size: 36px;
  font-weight: bold;
  letter-spacing: 0.025em;
  margin-bottom: 60px;
  text-align: center;
}
#wrap main .theme-category .container #theme-category-swiper .swiper-wrapper .swiper-slide {
  width: auto;
  height: auto;
}
#wrap main .theme-category .container #theme-category-swiper .swiper-wrapper .swiper-slide a {
  width: auto;
  height: auto;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
#wrap main .theme-category .container #theme-category-swiper .swiper-wrapper .swiper-slide a img {
  width: 140px;
  height: 140px;
  z-index: 1;
  margin-bottom: 20px;
}
#wrap main .theme-category .container #theme-category-swiper .swiper-wrapper .swiper-slide a span {
  font-family: "Noto Sans KR", sans-serif;
  font-size: 16px;
  font-weight: 500;
}
#wrap main .theme-category .container #theme-category-swiper .swiper-wrapper .swiper-slide a .icon-bg {
  top: 0;
  position: absolute;
  width: 0;
  height: 0;
  background: #ffff19;
  border-radius: 50%;
  opacity: 0;
}
#wrap main .theme-category .container #theme-category-swiper .swiper-wrapper .swiper-slide a:hover .icon-bg {
  width: 140px;
  height: 140px;
  opacity: 0.8;
  transition: all 0.4s;
}
#wrap main .new-logos {
  display: flex;
  justify-content: center;
  align-items: center;
  /* .container */
}
#wrap main .new-logos .container {
  padding-top: 160px;
  /* #new logo swiper */
}
#wrap main .new-logos .container #new-logo-swiper .swiper-wrapper {
  /* slide */
}
#wrap main .new-logos .container #new-logo-swiper .swiper-wrapper .swiper-slide {
  width: auto;
  height: auto;
  /* img box */
  /* desc box */
}
#wrap main .new-logos .container #new-logo-swiper .swiper-wrapper .swiper-slide .img-box {
  width: 320px;
  height: 320px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  margin-bottom: 20px;
  overflow: hidden;
}
#wrap main .new-logos .container #new-logo-swiper .swiper-wrapper .swiper-slide .img-box img {
  width: 100%;
}
#wrap main .new-logos .container #new-logo-swiper .swiper-wrapper .swiper-slide .img-box .label {
  font-family: "Montserrat", sans-serif;
  position: absolute;
  bottom: 10px;
  left: 10px;
  font-size: 14px;
  font-weight: 500;
  color: #1a1a1c;
  background: #fdf102;
  padding: 0 10px;
}
#wrap main .new-logos .container #new-logo-swiper .swiper-wrapper .swiper-slide .desc-box {
  display: flex;
  justify-content: space-between;
  width: 100%;
}
#wrap main .new-logos .container #new-logo-swiper .swiper-wrapper .swiper-slide .desc-box .desc-txt {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}
#wrap main .new-logos .container #new-logo-swiper .swiper-wrapper .swiper-slide .desc-box .desc-txt .title {
  display: block;
  font-size: 22px;
  font-weight: bold;
  margin: 0;
}
#wrap main .new-logos .container #new-logo-swiper .swiper-wrapper .swiper-slide .desc-box .desc-txt .star {
  margin: 10px 0;
  display: flex;
}
#wrap main .new-logos .container #new-logo-swiper .swiper-wrapper .swiper-slide .desc-box .desc-txt .star li {
  height: 16px;
}
#wrap main .new-logos .container #new-logo-swiper .swiper-wrapper .swiper-slide .desc-box .desc-txt .star li img {
  height: 100%;
}
#wrap main .new-logos .container #new-logo-swiper .swiper-wrapper .swiper-slide .desc-box .desc-txt .price {
  font-size: 18px;
  font-weight: bold;
  letter-spacing: 0;
  font-family: "Montserrat", sans-serif;
}
#wrap main .new-logos .container #new-logo-swiper .swiper-wrapper .swiper-slide .desc-box .desc-txt .price span {
  margin-left: 4px;
  color: #545454;
  font-size: 14px;
  font-weight: 400;
  font-family: "Noto Sans KR", sans-serif;
}
#wrap main .new-logos .container #new-logo-swiper .swiper-wrapper .swiper-slide .desc-box .desc-icon {
  display: flex;
}
#wrap main .new-logos .container #new-logo-swiper .swiper-wrapper .swiper-slide .desc-box .desc-icon .cart-icon,
#wrap main .new-logos .container #new-logo-swiper .swiper-wrapper .swiper-slide .desc-box .desc-icon .wish-icon {
  width: 32px;
  height: 32px;
  background: #e6e8ec;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
#wrap main .new-logos .container #new-logo-swiper .swiper-wrapper .swiper-slide .desc-box .desc-icon .cart-icon img,
#wrap main .new-logos .container #new-logo-swiper .swiper-wrapper .swiper-slide .desc-box .desc-icon .wish-icon img {
  width: 20px;
}
#wrap main .new-logos .container #new-logo-swiper .swiper-wrapper .swiper-slide .desc-box .desc-icon .wish-icon {
  margin-left: 20px;
}
#wrap main .new-logos .container #new-logo-swiper .new-lego-pagination {
  margin-top: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
}
#wrap main .new-logos .container #new-logo-swiper .new-lego-pagination .swiper-pagination-bullet:not(:last-child) {
  margin-right: 10px;
}
#wrap main .new-logos .container #new-logo-swiper .new-lego-pagination .swiper-pagination-bullet {
  background: #0089cf;
  opacity: 0.2;
  width: 12px;
  height: 12px;
  transition: all 0.4s;
}
#wrap main .new-logos .container #new-logo-swiper .new-lego-pagination .swiper-pagination-bullet-active {
  background: #0089cf;
  opacity: 1;
  width: 14px;
  height: 14px;
}
#wrap main .sub-banner {
  margin-top: 160px;
}
#wrap main .sub-banner a {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 600px;
  position: relative;
}
#wrap main .sub-banner a .sub-banner-bg {
  width: 100%;
  height: 100%;
  background: url("../images/sub-banner.jpg") no-repeat top/cover;
  opacity: 1;
}
#wrap main .sub-banner a .sub-banner-txt {
  background: rgba(255, 255, 255, 0.5);
  padding: 30px 30px;
  position: absolute;
  left: 80px;
  top: 80px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  border-radius: 24px;
}
#wrap main .sub-banner a .sub-banner-txt .title {
  margin-bottom: 0;
  text-align: left;
  font-size: 48px;
  font-weight: 700;
  letter-spacing: -0.025em;
}
#wrap main .sub-banner a .sub-banner-txt p {
  text-align: left;
  font-size: 18px;
  color: #414141;
  font-family: "Noto Sans KR", sans-serif;
  font-weight: 500;
  letter-spacing: -0.025em;
  line-height: 1.6;
  margin: 20px 0;
}
#wrap main .sub-banner a .sub-banner-txt .btn {
  font-family: "Noto Sans KR", sans-serif;
  font-size: 24px;
  font-weight: 700;
  letter-spacing: -0.025em;
  color: #1a1a1c;
  display: flex;
  align-items: center;
  position: relative;
  transition: all 0.4s;
}
#wrap main .sub-banner a .sub-banner-txt .btn img {
  position: absolute;
  margin-top: 4px;
  height: 22px;
  right: -30px;
  transition: all 0.4s;
  opacity: 1;
}
#wrap main .sub-banner a .sub-banner-txt .btn:hover {
  color: #ee1d23;
}
#wrap main .sub-banner a .sub-banner-txt .btn:hover img {
  right: -60px;
  opacity: 0;
}