@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+KR:wght@300;400;500;600;700&family=Montserrat:wght@300;400;500;600;700;800;900&family=Noto+Sans+KR:wght@300;400;500;700&display=swap");
/*
  font-family: 'Noto Sans KR', sans-serif;
  font-family: 'IBM Plex Sans KR', sans-serif;
  font-family: 'Montserrat', sans-serif;
*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
ul,
ol,
li {
  list-style: none;
}
a {
  text-decoration: none;
  color: inherit;
}
.container {
  width: 1440px;
  height: auto;
  padding: 0 20px;
}
html {
  overflow-x: hidden;
}

#wrap {
  width: 100%;
  height: auto;
  background: #fff;
  /* header */
  header {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    background: #fdf102;
    z-index: 99;
    box-shadow: 0 4px 4px 4px rgba(0, 0, 0, 0.2);
    /* container */
    .container {
      // border: 1px solid red;
      padding: 10px 20px;
      display: flex;
      align-items: center;
      justify-content: space-between;
      /* a */
      a {
        font-family: "Montserrat", sans-serif;
        font-size: 18px;
        font-weight: 600;
        color: #1a1a1c;
      }
      /* left */
      .lego-menu {
        display: flex;
        li:not(:last-child) {
          margin-right: 20px;
        }
      }
      /* header logo */
      .header-logo {
        a {
          display: block;
          width: 60px;
          height: 60px;
          // border: 1px solid blue;
          img {
            width: 100%;
          }
        }
      }
      /* right */
      .user-menu {
        display: flex;
        li:not(:first-child) {
          margin-left: 20px;
        }
        li a {
          display: flex;
          align-items: center;
          justify-content: center;
          width: 24px;
          height: 24px;
          // border: 1px solid blue;
          img {
            width: 100%;
          }
        }
      }
    }
  }
  main {
    /* 공용 title */
    .title {
      font-family: "Noto Sans KR", sans-serif;
      color: #1a1a1c;
      font-size: 36px;
      font-weight: bold;
      letter-spacing: -0.025em;
      margin-bottom: 60px;
      text-align: center;
    }
    width: 100%;
    height: 200vh;
    /* main video */
    .main-video {
      position: relative;
      width: 100%;
      height: 700px;
      z-index: 1;
      overflow: hidden;
      display: flex;
      align-items: center;
      justify-content: center;
      video {
        width: 100%;
      }
      .play-btn {
        position: absolute;
        width: 60px;
        height: 60px;
        border-radius: 50%;
        background: rgba(255, 255, 255, 0.4);
        span {
          position: absolute;
          top: 50%;
          left: 35%;
          transform: translateY(-50%);
          display: block;
          width: 24px;
          height: 24px;
          border-top: 14px solid transparent;
          border-left: 24px solid #1a1a1c;
          border-right: 14px solid transparent;
          border-bottom: 14px solid transparent;
          cursor: pointer;
        }
      }
    }
    /* theme category */
    .theme-category {
      display: flex;
      justify-content: center;
      align-items: center;
      .container {
        padding-top: 160px;
        // border: 1px solid red;
        .title {
          font-family: "Noto Sans KR", sans-serif;
          color: #1a1a1c;
          font-size: 36px;
          font-weight: bold;
          letter-spacing: -0.025em;
          margin-bottom: 60px;
          text-align: center;
        }
        #theme-category-swiper {
          .swiper-wrapper {
            .swiper-slide {
              width: auto;
              height: auto;
              a {
                width: auto;
                height: auto;
                position: relative;
                // border: 1px solid red;
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                img {
                  width: 140px;
                  height: 140px;
                  z-index: 1;
                  margin-bottom: 20px;
                }
                span {
                  font-family: "Noto Sans KR", sans-serif;
                  font-size: 16px;
                  font-weight: 500;
                  letter-spacing: -0.025em;
                }
                .icon-bg {
                  top: 0;
                  position: absolute;
                  width: 0;
                  height: 0;
                  background: #ffff19;
                  border-radius: 50%;
                  opacity: 0;
                }
              }
              a:hover .icon-bg {
                width: 140px;
                height: 140px;
                opacity: 0.8;
                transition: all 0.4s;
              }
            }
          }
        }
      }
    }
    /* .new logos */
    .new-logos {
      display: flex;
      justify-content: center;
      align-items: center;
      /* .container */
      .container {
        // border: 1px solid red;
        padding-top: 160px;
        /* #new logo swiper */
        #new-logo-swiper {
          .swiper-wrapper {
            /* slide */
            .swiper-slide {
              // border: 1px solid red;
              width: auto;
              height: auto;
              /* img box */
              .img-box {
                width: 320px;
                height: 320px;
                display: flex;
                align-items: center;
                justify-content: center;
                position: relative;
                margin-bottom: 20px;
                overflow: hidden;
                img {
                  width: 100%;
                  // height: 100%;
                }
                .label {
                  font-family: "Montserrat", sans-serif;
                  position: absolute;
                  bottom: 10px;
                  left: 10px;
                  font-size: 14px;
                  font-weight: 500;
                  color: #1a1a1c;
                  background: #fdf102;
                  padding: 0 10px;
                }
              }
              /* desc box */
              .desc-box {
                display: flex;
                justify-content: space-between;
                width: 100%;
                .desc-txt {
                  // border: 1px solid blue;
                  width: 100%;
                  display: flex;
                  flex-direction: column;
                  align-items: flex-start;
                  justify-content: center;
                  .title {
                    display: block;
                    font-size: 22px;
                    font-weight: bold;
                    margin: 0;
                    letter-spacing: -0.025em;
                  }
                  .star {
                    margin: 10px 0;
                    display: flex;
                    li {
                      height: 16px;
                      img {
                        height: 100%;
                      }
                    }
                  }
                  .price {
                    font-size: 18px;
                    font-weight: bold;
                    letter-spacing: 0;
                    font-family: "Montserrat", sans-serif;
                    span {
                      margin-left: 4px;
                      color: #545454;
                      font-size: 14px;
                      font-weight: 400;
                      font-family: "Noto Sans KR", sans-serif;
                    }
                  }
                }
                .desc-icon {
                  // border: 1px solid blue;
                  display: flex;
                  .cart-icon,
                  .wish-icon {
                    width: 32px;
                    height: 32px;
                    background: #e6e8ec;
                    border-radius: 50%;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    cursor: pointer;
                    img {
                      width: 20px;
                    }
                  }
                  .wish-icon {
                    margin-left: 20px;
                  }
                }
              }
            }
          }
          .new-lego-pagination {
            margin-top: 40px;
            display: flex;
            align-items: center;
            justify-content: center;
            .swiper-pagination-bullet:not(:last-child) {
              margin-right: 10px;
            }
            .swiper-pagination-bullet {
              background: #0089cf;
              opacity: 0.2;
              width: 12px;
              height: 12px;
              transition: all 0.4s;
            }
            .swiper-pagination-bullet-active {
              background: #0089cf;
              opacity: 1;
              width: 14px;
              height: 14px;
            }
          }
        }
      }
    }
    /* .sub banner */
    .sub-banner {
      margin-top: 160px;
      a {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 600px;
        position: relative;
        .sub-banner-bg {
          width: 100%;
          height: 100%;
          background: url("../images/sub-banner.jpg") no-repeat top / cover;
          opacity: 1;
        }
        .sub-banner-txt {
          background: rgba(255, 255, 255, 0.5);
          border-radius: 14px;
          padding: 30px 30px;
          position: absolute;
          left: 10%;
          top: 10%;
          display: flex;
          flex-direction: column;
          align-items: flex-start;
          justify-content: center;
          .title {
            margin-bottom: 0;
            text-align: left;
            font-size: 48px;
            font-weight: 700;
            letter-spacing: -0.025em;
          }
          p {
            text-align: left;
            font-size: 18px;
            color: #414141;
            font-family: "Noto Sans KR", sans-serif;
            font-weight: 500;
            letter-spacing: -0.025em;
            line-height: 1.6;
            margin: 20px 0;
          }
          .btn {
            font-family: "Noto Sans KR", sans-serif;
            font-size: 24px;
            font-weight: 700;
            letter-spacing: -0.025em;
            color: #1a1a1c;
            display: flex;
            align-items: center;
            position: relative;
            transition: all 0.4s;
            img {
              position: absolute;
              margin-top: 4px;
              height: 22px;
              right: -30px;
              transition: all 0.4s;
              opacity: 1;
            }
          }
          .btn:hover {
            color: #ee1d23;
            img {
              right: -60px;
              opacity: 0;
            }
          }
        }
      }
    }
    /* .mario lego wrap */
    .mario-lego-wrap {
      margin-top: 160px;
      display: flex;
      align-items: center;
      justify-content: center;
      .container {
        border: 1px solid red;
        /* title */
        .title {
          display: flex;
          align-items: center;
          justify-content: center;
          position: relative;
          .more {
            display: flex;
            align-items: center;
            justify-content: center;
            font-size: 13px;
            font-weight: 500;
            letter-spacing: 0;
            color: #69696b;
            position: absolute;
            right: 0;
            img {
              margin-left: 20px;
              width: 14px;
              height: 14px;
            }
          }
        }
        /* slide */
        #mario-swiper {
          .swiper-wrapper {
            /* slide */
            .swiper-slide {
              // border: 1px solid red;
              width: auto;
              height: auto;
              /* img box */
              .img-box {
                width: 320px;
                height: 320px;
                background: url("../images/mario-lego1.png") no-repeat center /
                  cover;
                display: flex;
                align-items: center;
                justify-content: center;
                position: relative;
                margin-bottom: 20px;
                overflow: hidden;
                .label {
                  font-family: "Montserrat", sans-serif;
                  position: absolute;
                  bottom: 10px;
                  left: 10px;
                  font-size: 14px;
                  font-weight: 500;
                  color: #1a1a1c;
                  background: #fdf102;
                  padding: 0 10px;
                }
              }
              /* desc box */
              .desc-box {
                display: flex;
                justify-content: space-between;
                width: 100%;
                .desc-txt {
                  // border: 1px solid blue;
                  width: 100%;
                  display: flex;
                  flex-direction: column;
                  align-items: flex-start;
                  justify-content: center;
                  .title {
                    display: block;
                    font-size: 22px;
                    font-weight: bold;
                    margin: 0;
                    letter-spacing: -0.025em;
                  }
                  .star {
                    margin: 10px 0;
                    display: flex;
                    li {
                      height: 16px;
                      img {
                        height: 100%;
                      }
                    }
                  }
                  .price {
                    font-size: 18px;
                    font-weight: bold;
                    letter-spacing: 0;
                    font-family: "Montserrat", sans-serif;
                    span {
                      margin-left: 4px;
                      color: #545454;
                      font-size: 14px;
                      font-weight: 400;
                      font-family: "Noto Sans KR", sans-serif;
                    }
                  }
                }
                .desc-icon {
                  // border: 1px solid blue;
                  display: flex;
                  .cart-icon,
                  .wish-icon {
                    width: 32px;
                    height: 32px;
                    background: #e6e8ec;
                    border-radius: 50%;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    cursor: pointer;
                    img {
                      width: 20px;
                    }
                  }
                  .wish-icon {
                    margin-left: 20px;
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}
